body {
  background-color: lightgray;
  color: #499edb;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #499edb;
  color: rgb(252, 250, 250);
}

.main-header a {
  color: white;
  font-size: 20px;
}

.flash{
  color: #499edb;
}
.welcome{
  padding:100px;
}
.myform{
  border-top: lightgray;
  border-left: lightgray;
  border-right: lightgray;
  border-bottom-color: #499edb;
  color: #499edb;
  background-color: lightgray;
  
}
textarea{
  background-color: lightgray;
  border-top: lightgray;
  border-left: lightgray;
  border-right: lightgray;
  color: #499edb;
}