<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if title %} SnackApp |{{ title }}
      {%else%} SnackApp {% endif %}
    </title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
  </head>
  <body>
    <header>
      <div class="main-header">
        <h1>Snacks</h1>
        {% if current_user.is_authenticated %}
            <a href="/logout" class="btn btn-primary">Log Out</a>
        {%else%}
            <a href="/login" class="btn btn-primary">Login</a>
        {% endif %}
        
      </div>
    </header>
    {% block body %} 
    {% endblock %}
    <footer>
      <center>SnackApp &copy; 2019</center>
    </footer>
  </body>
</html>
